.carousel {
  align-items: center;
  background-image: url('../static/assets/forma-2.png');
  background-position: right;
  background-position-y: 80px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  &__button {
    border: 0;
    height: 40px;
    margin: auto;
    width: 40px;

    &--right {
      transform: rotate(180deg);
    }

    &--disabled {
      opacity: 50%;
    }
  }

  &__button:focus {
    outline: none;
  }

  &__title {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 21px;
    text-align: center;
    width: 200px;
  }

  &__subtitle {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 21px;
    text-align: center;
    width: 300px;

    &-span {
      display: block;
    }
  }

  &__text {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
    height: 64px;
    margin-bottom: 80px;
    text-align: center;
    width: 270px;
  }

  &__cards-container {
    height: 334px;
    margin: 0 10px;
    position: relative;
    width: 246px;
  }

  &-card {
    opacity: 0;
    position: absolute;
    transition: opacity 1s linear;

    &--active {
      opacity: 1;
    }

    &__img {
      display: flex;
      height: 334px;
      justify-content: center;
      overflow: hidden;
      width: 246px;

      img {
        height: 100%;
        width: initial;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  @include viewport-desktop() {
    & {
      background-image: url('../static/assets/forma-3.png');
      background-position-x: 1000px;
      background-position-y: 335px;
      background-size: 300px;
    }

    &__title {
      font-size: 68px;
      height: 136px;
      margin-bottom: 66px;
      margin-top: 180px;
      width: 478px;
    }

    &__container {
      width: 1440px;
    }

    &__cards-container {
      height: 630px;
      margin-bottom: 66px;
      width: 468px;
    }

    &-card {
      height: 620px;
      width: 458px;

      &__img {
        height: 100%;
        margin: 10px;
        width: 100%;
      }
    }

    &__subtitle {
      font-size: 68px;
      height: 136px;
      margin-bottom: 41px;
      width: 1144px;
    }

    &__text {
      font-size: 22px;
      height: 87px;
      margin-bottom: 180px;
      width: 660px;
    }
  }
}
