.carousel{
  align-items: center;
  background-image: url('../static/assets/forma-2.png');
  background-position: right;
  background-position-y: 155px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
