.intro {
  background-image: url('../static/assets/blue-form.png');
  background-position-x: right;
  background-position-y: 254px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  &__container-general {
    align-items: center;
    background-image: url('../static/assets/orange-form.png');
    background-position-x: 53px;
    background-position-y: 14px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  &__container-fundation {
    display: flex;
    flex-direction: column;
  }

  &__texts-block {
    color: $gray;
    margin: 10vw;

    :first-child {
      color: $black;
      margin: 5vw 0;
    }
  }

  &__image--0 {
    margin-left: 32vw;
    margin-right: 7vw;
    margin-top: 8vw;
    width: 61vw;
  }

  &__image--1 {
    float: left;
    margin-left: -15vw;
    margin-right: 10vw;
    margin-top: 76vw;
    position: absolute;
    width: 35vw;
  }

  &__title {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    margin-left: 51vw;
    margin-top: 8vw;
    width: 33vw;
  }

  &__paragraph {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
    margin-left: 11vw;
    margin-top: 8vw;
    width: 70vw;
  }

  @include viewport-desktop() {
    align-items: center;
    background-image: url('../static/assets/formas-desktop.svg');
    background-position-x: 0;
    background-position-y: 4vw;
    background-repeat: no-repeat;
    background-size: 853px;
    display: flex;
    flex-direction: row;

    margin-bottom: 50px;

    &__container-general {
      background-image: none;
      display: flex;
      flex-direction: row;
      flex-grow: 2;
      justify-content: flex-end;
      margin: 0;
      margin-right: 40px;
      position: relative;
    }

    &__container-fundation {
      display: flex;
      flex-direction: row;
    }

    &__texts-block {
      color: $gray;
      font-size: $desktop-paragraph;
      margin: 0px 600px 40px 370px;
      width: 458px;

      :first-child {
        color: $black;
        font-family: $hkgrotesk-bold;
        margin: 5vw 0;
      }
    }

    &__container-text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;
      margin: 0;
    }

    &__image {
      margin: 0;
      width: 30vw;
    }

    &__image--1 {
      margin: 0;
      right: 40%;
      width: 25vw;
    }

    &__title {
      font-size: $desktop-titles;
      margin: 0;
      width: 320px;
    }

    &__paragraph {
      font-size: $desktop-paragraph;
      margin: 0;
      width: 339px;
    }
  }
}
