.intro {
  background-image: url('../static/assets/blue-form.png');
  background-position-x: right;
  background-position-y: 254px;
  background-repeat: no-repeat;

  &__container-general {
    align-items: center;
    background-image: url('../static/assets/orange-form.png');
    background-position-x: 53px;
    background-position-y: 14px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  &__image--0 {
    margin-left: 32vw;
    margin-right: 7vw;
    margin-top: 8vw;
    width: 61vw;
  }

  &__image--1 {
    float: left;
    margin-left: -15vw;
    margin-right: 10vw;
    margin-top: 76vw;
    position: absolute;
    width: 35vw;
  }

  &__title {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    margin-left: 51vw;
    margin-top: 8vw;
    width: 33vw;
  }

  &__paragraph {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
    margin-left: 11vw;
    margin-top: 8vw;
    width: 70vw;
  }

  &__container-text {
    margin-bottom: 40px;
  }

  &__text-desktop {
    color: $black;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
    margin-left: 11vw;
    margin-top: 8vw;
    width: 70vw;
  }

  &__texts {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-card-titles;
    &:last-of-type {
      color: $gray;
      font-family: $hkgrotesk-regular;
      font-size: $mobile-paragraph;
      margin-bottom: 80px;
      margin-top: 40px;
    }
  }

  @include viewport-desktop() {
    align-items: center;
    background-image: url('../static/assets/formas-desktop.svg');
    background-position-x: 0;
    background-position-y: 0vw;
    background-repeat: no-repeat;
    background-size: 853px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    &__container-fundation {
      display: flex;
    }

    &__texts-block {
      width: 44.5%;
    }

    &__texts {
      font-size: $desktop-card-titles;

      &:last-of-type {
        font-size: $desktop-paragraph;
      }
    }

    &__container-general {
      background-image: none;
      display: flex;
      flex-direction: row;
      flex-grow: 2;
      justify-content: flex-end;
      margin: 0;
      margin-right: 40px;
      position: relative;
    }

    &__container-text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      margin: 0;
    }

    &__image {
      margin: 0;
      width: 30vw;
    }

    &__image--1 {
      margin: 0;
      right: 64%;
      width: 25vw;
      top: 30%;
    }

    &__title {
      font-size: $desktop-titles;
      margin: 2vw;
      width: 320px;
    }

    &__paragraph {
      font-size: $desktop-paragraph;
      margin: 2vw;
      width: 339px;
    }
  }
}
