.slider {
  &__wraper {
    align-items: center;
    background-image: url('../static/assets/forma-1.jpg');
    background-position: right;
    background-position-y: 155px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
  }

  &__text {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
    height: 64px;
    text-align: center;
    width: 270px;
  }

  &__container {
    position: relative;
    width: 100%;
  }

  &-cards__container {
    display: flex;
    overflow-y: hidden;
    position: relative;
    scrollbar-width: none;
    width: 100%;

    & :focus {
      outline: solid 1px $orange;
    }

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    width: 375px;
  }

  &-card:first-of-type {
    margin-left: 0;
    padding-left: 50px;
  }

  &-card:last-of-type {
    margin-right: 0;
    padding-right: 50px;
  }

  &-card__img {
    height: 334px;
    width: 246px;
  }

  &-card__text {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-card-titles;
    margin-top: 20px;
    width: 200px;
  }

  &__control {
    cursor: pointer;
    height: 334px;
    margin-top: 40px;
    position: absolute;
    top: 0;
    width: 50px;
  }

  &__control--right {
    right: 0;
  }

  &__control--left {
    left: 0;
  }

  &-cards__container {
    scroll-snap-type: x mandatory;
  }

  &-card {
    scroll-snap-align: center;
  }

  @include viewport-desktop {
    background-image: url('../static/assets/orange2-desktop.png');
    background-position: right;
    background-position-x: 1180px;
    background-position-y: 540px;
    background-repeat: no-repeat;

    &__wraper {
      background-image: url('../static/assets/orange-desktop.png');
      background-position: left;
      background-position-x: 32px;
      background-position-y: 200px;
    }

    &-card__img {
      width: 100%;
    }

    &-card {
      margin-bottom: 180px;
      margin-left: 11px;
      margin-right: 11px;
      margin-top: 68px;
      width: 276px;
    }
    &-card:first-of-type {
      padding-left: 0;
    }

    &-card:last-of-type {
      padding-right: 0;
    }

    &-card__text {
      margin-top: 69px;
    }

    &-cards__container {
      margin-left: 132px;
    }

    &__text {
      font-size: $desktop-paragraph;
      width: 545px;
    }

    &__title {
      font-size: $desktop-titles;
      width: 420px;
    }

    &-card__text {
      font-size: $desktop-card-titles;
      width: 250px;
    }
  }
}
