* {
  margin: 0 auto;
  max-width: 450px;
}
.scenarios {
  padding-bottom: 230px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  @extend .container;

  &__title {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    height: 54px;
    line-height: 30px;
    margin-bottom: 102px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 227px;
  }

  &__principal-container {
    position: relative;
  }

  &__text {
    font-family: $hkgrotesk-bold;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__images--0 {
    position: absolute;
    right: -35px;
    text-align: right;
    top: -109px;
    width: 59%;
    z-index: 1;
  }

  &__images--1 {
    position: relative;

    .scenarios__text {
      margin: 0;
      margin-bottom: 20px;
      width: 120px;
    }

    &::before {
      background-image: url('../static/assets/forma-azul.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: '';
      height: 27%;
      left: 22%;
      position: absolute;
      top: -22px;
      width: 44%;
      z-index: -1;
    }

    &::after {
      background-image: url('../static/assets/forma-puntos.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      bottom: -7%;
      content: '';
      height: 8%;
      position: absolute;
      right: -2px;
      width: 20%;
    }
  }

  &__images--2 {
    bottom: -48%;
    display: flex;
    flex-direction: column-reverse;
    left: -13%;
    position: absolute;
    width: 59%;

    .scenarios__text {
      width: 200px;
    }
  }

  @include viewport-desktop() {
    padding-bottom: 130px;
    padding-top: 80px;

    &__title {
      font-size: $desktop-titles;
      height: 136px;
      line-height: 65px;
      margin-bottom: 68px;
      margin-left: -37px;
      margin-right: auto;
      text-align: center;
      width: 464px;
    }

    &__principal-container {
      margin-left: auto;
      margin-right: auto;
    }

    &__text {
      font-size: 22px;
      margin-bottom: 17px;
      margin-top: 17px;
    }

    &__images--0 {
      right: -74%;
      text-align: right;
      top: -22px;
      width: 360px;

      &::after {
        background-image: url('../static/assets/forma-puntos.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        bottom: -11%;
        content: '';
        height: 18%;
        position: absolute;
        right: -43px;
        text-align: right;
        width: 34%;
      }
    }

    &__images--1 {
      display: flex;
      flex-direction: column-reverse;
      margin-left: auto;
      margin-right: auto;
      width: 120%;

      .scenarios__text {
        margin-top: 17px;
        width: auto;
      }

      &::before {
        background-image: url('../static/assets/forma-azul.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        content: '';
        height: 42%;
        left: -50%;
        position: absolute;
        top: 27px;
        width: 59%;
        z-index: -1;
      }
      &::after {
        background-image: none;
      }
    }

    &__images--2 {
      bottom: 6%;
      height: 360px;
      left: -82%;
      width: 360px;

      .scenarios__text {
        margin: 0;
        margin-top: 17px;
        width: 290px;
      }
    }
  }
}
