.escenarios {
  background-image: url('../static/assets/FormaAzul.png');
  background-position-x: 120px;
  background-position-y: 170px;
  background-repeat: no-repeat;
  background-size: 108px  108px;
  position: relative;

  &__title {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    height: 54px;
    line-height: 30px;
    margin-bottom: 102px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 227px;
  }

  &__principal-container {
    background-image: url('../static/assets/FormaPuntos.png');
    background-position-x: 264px;
    background-position-y: 437px;
    background-repeat: no-repeat;
  }

  &__container-images {
    display: flex;
    flex-direction: column;
    margin-left: 29px;
    margin-right: 29px;
    width: 100%;
  }

  &__text {
    font-family: $hkgrotesk-bold;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__images--0 {
    height: auto;
    margin-top: -70px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 150px;
  }
  &__images--1 {
    height: auto;
    margin-left: 65px;
    margin-right: 63px;
    width: 247px;
  }

  &__images--2 {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin-left: 29px;
    margin-top: -50px;
    text-align: left;
    width: 150px;
  }
}
