.scroll {
  background-color: $white;
  display: block;
  margin-bottom: 76px;
  padding: 20px 0 0 0;

  &__button {
    align-self: center;
    border: none;
    display: flex;
    height: 40px;
    margin: auto;
    width: 40px;
  }

  &__button:focus {
    outline: none;
  }

  &__text {
    display: none;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-card-titles;
  }

  @include viewport-desktop() {
    &__text {
      display: block;
      margin-bottom: 100px;
      text-align: center;
    }

    &__image {
      background-color: transparent;
    }

    &__bounce {
      animation: bounce 2s;
      animation-iteration-count: 3;
    }
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-25px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
