.scroll {
  background-color: $white;
  display: block;
  margin-bottom: 76px;
  padding: 20px 0 0;

  @include viewport-desktop() {
    &__text {
      display: block;
      text-align: center;
    }
  }

  &__button {
    align-self: center;
    border: 0;
    display: flex;
    height: 40px;
    margin: auto;
    width: 40px;
  }

  &__button:focus {
    outline: none;
  }

  &__text {
    display: none;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-card-titles;
  }

  &__image {
    background-color: $white;
  }
}
