.scroll {
  background-color: $white;
  display: block;
  margin-bottom:76px;
  padding: 20px;

  &__button {
    align-self: center;
    border: none;
    display: flex;
    height: 40px;
    margin:auto;
    width: 40px;
  }

  &__button:focus {
    outline: none;
  }

  &__text {
    display: none;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-card-titles;
  }

  @include viewport-desktop() {
    &__text {
      display: block;
      text-align: center;
    }
  }

  &__image {
    background-color: $white;
  }
}

