.contact {
  padding-left: 19px;
  padding-right: 19px;

  &__title {
    font-family: $hkgrotesk-bold;
    font-size: $mobile-title;
    margin-bottom: 20px;
    text-align: center;
  }

  &__paragraph {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
    margin-bottom: 40px;
    text-align: center;
  }

  &__label {
    font-family: $hkgrotesk-bold;
    font-size: $desktop-card-titles;
    margin-bottom: 10px;
  }

  &__texts {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
  }

  &__information-texts {
    margin-bottom: 50px;

    &--2 {
      padding-bottom: 40px;
    }
  }

  @include viewport-desktop {
    &__container-Information {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-family: $hkgrotesk-bold;
      font-size: $desktop-titles;
      margin-bottom: 40px;
      margin-left: 22%;
      width: 630px;
    }

    &__paragraph {
      font-family: $hkgrotesk-regular;
      font-size: $desktop-paragraph;
      margin-bottom: 80px;
      margin-left: 26%;
      width: 535px;
    }

    &__label {
      font-family: $desktop-subtitles;
      font-size: $hkgrotesk-bold;
      margin-bottom: 23px;
    }

    &__texts {
      font-family: $hkgrotesk-regular;
      font-size: $desktop-paragraph;

      &:last-of-type {
        margin-bottom: 100px;
      }
    }

    &__information-texts {
      margin-bottom: 0;
    }
  }
}
