.event {
  $root: &;
  background-image: url('../static/assets/forma-eventos.png');
  background-position: -3vw;
  background-position-y: 45vw;
  background-repeat: no-repeat;
  background-size: auto 30%;
  margin: 0 auto 80px;
  max-width: 550px;

  &__wraper {
    display: flex;
    flex-direction: column;
    padding: 0 49px;

    &-image {
      justify-content: center;
      margin: 8vw;
    }
  }

  &.event__feature {
    padding-bottom: 100px;

    #{$root}__decoration {
      background-image: url('../static/assets/evnet-forma.png');
      background-position: right;
      background-repeat: no-repeat;
      background-size: auto 100%;
      bottom: -21.5%;
      height: 17%;
      position: absolute;
      right: 0;
      width: 20%;
      z-index: -1;
    }

    #{$root}__title {
      font-size: $mobile-title;
      order: -1;
    }
  }

  &__title {
    display: block;
    font-family: $hkgrotesk-bold;
    font-size: $mobile-card-titles;
    margin: 10vw;
    margin-bottom: 20px;
    width: 66vw;

    &-desktop {
      display: none;
    }
  }

  &__image {
    margin-bottom: 20px;
  }

  &__text {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: $mobile-paragraph;
    line-height: 1.3;
    margin-bottom: 40px;
  }

  &__more-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;

    .more-info {
      &__text {
        font-family: $hkgrotesk-bold;
        font-size: $mobile-card-titles;
        width: 56px;
      }

      &__description {
        color: $gray;
        font-family: $hkgrotesk-regular;
        font-size: $mobile-paragraph;
        margin-left: 12px;
      }

      &__wraper {
        display: flex;
        padding-bottom: 19px;
        width: 250px;
      }
    }
  }

  &__link {
    background-color: $green;
    display: block;
    font-family: $hkgrotesk-bold;
    font-size: $mobile-card-titles;
    height: 60px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    width: 100%;

    a {
      color: $black;
      display: block;
      max-width: 100%;
      padding: 21px 0;
    }
  }

  @include viewport-desktop() {
    & {
      background-position: 3vw;
      background-position-y: 30vw;
      background-size: auto 50%;
      max-width: 1440px;
      position: relative;
    }

    &__organitation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
      max-width: 1175px;
    }

    &__feature {
      padding-top: 137px;
      #{$root}__decoration {
        background-image: url('../static/assets/event_forma-desktop.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto;
        bottom: 26.5%;
        height: 31%;
      }

      #{$root}__title-desktop {
        font-size: $desktop-titles;
      }
    }

    &__title-desktop {
      display: block;
      font-size: $desktop-subtitles;
      margin-bottom: 30px;
      margin-top: 50px;
    }

    &__title {
      display: none;
    }

    &__text {
      font-size: $desktop-paragraph;
    }

    &__wraper {
      &-image {
        margin: 2vw;
      }
    }

    &__image {
      width: 458px;
    }

    &__link {
      font-size: $desktop-paragraph;
      margin: 0;
      width: 33%;
    }

    .more-info {
      &__description {
        font-size: $desktop-paragraph;
      }

      &__wraper {
        width: 60.5%;
      }
    }
  }
}
