.image-fundation {
  background-image: url('../static/assets/Forma-image-fundation.png');
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  margin-bottom: 54.2px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 8.2%;

  &__picture {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    img {
      height: 100%;
      min-height: 510px;
      min-width: 800px;
      width: 100%;
    }
  }

  @include viewport-desktop() {
    background-image: url('../static/assets/Forma2-desktop-image-fundation.png');
    background-position-y: 89.5%;
    display: flex;
    height: 800px;
    margin: 0 30px;
    margin-bottom: 91px;

    &__container {
      background-image: url('../static/assets/Forma1-desktop-imge-fundation.png');
      background-position-x: 5px;
      background-position-y: 1px;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }

    &__picture {
      margin-top: 53.1px;

      img {
        max-height: 620px;
        max-width: 1176px;
      }
    }
  }
}
