.image-fundation {
  &__picture {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    img {
      height: 100%;
      min-height: 400px;
      min-width: 700px;
      width: 100%;
    }
  }
}
