/* Sass Variables */


//colors
$green: #75f94c;
$yellow: #fc0;
$aqua: #79ded3;
$orange: #f72;
$white: #fff;
$gray: #6c6c6c;
$black: #000;
//typography
$hkgrotesk-regular: HKGrotesk, arial, sans-serif;
$hkgrotesk-bold: 'HKGrotesk-Bold', arial, sans-serif;
//font size
$desktop-titles: 68px;
$desktop-subtitles: 30px;
$mobile-title: 30px;
$desktop-card-titles: 22px;
$desktop-paragraph: 22px;
$mobile-card-titles: 18px;
$mobile-paragraph: 18px;
