/* Sass Variables */


//colors
$green: #75f94c;
$yellow: #ffcc00;
$aqua: #79ded3;
$orange: #ff7722;
$white: #ffffff;
$gray: #6c6c6c;
$black: #000000;
//typography
$hkgrotesk-regular: HKGrotesk, arial, sans-serif;
$hkgrotesk-bold: 'HKGrotesk-Bold', arial, sans-serif;
//font size
$desktopTitles: 68px;
$desktopSubtitles: 30px;
$mobileTitle: 30px;
$DesktopCardTitles: 22px;
$desktopParagraph: 22px;
$mobileCardTitles: 18px;
$mobileParagraph: 18px;
