.footer {
  background: $black;
  padding: 59px 91px 64px 30px;

  &__logo {
    height: 48px;
    margin-bottom: 40px;
    width: 117px;
  }

  &__items {
    margin-bottom: 40px;

    &-list:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  &__data-links {
    color: $white;
    font-size: 18px;
    font-weight: 900;
  }

  &__social-text {
    color: $gray;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 30px;
  }

  &__icons {
    height: 30px;
    width: 30px;

    &-links {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }
  }

  @include viewport-desktop {
    & {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }

    &__data-links {
      font-family: $hkgrotesk-bold;
      font-size: $desktop-card-titles;
      padding-right: 29px;
    }

    &__items {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 29px;
      padding-right: 60px;

      &-list:not(:last-of-type) {
        margin-bottom: 0;
      }
    }

    &__container-items {
      display: flex;
      flex-direction: row;
      padding-right: 116px;
    }

    &__logo {
      padding-bottom: 150px;
      padding-left: 124.5px;
      padding-top: 111.1px;

      img {
        height: 92.1px;
        width: 224.5px;
      }
    }

    &__icons {
      height: 20px;
      margin-right: -20px;
      width: 20px;
    }

    &__social-text {
      font-family: $hkgrotesk-regular;
      font-size: $desktop-paragraph;
      margin-bottom: -30px;
      padding-right: 14px;
    }
  }
}
