.nav {
  position: relative;

  &__main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 31px 29px;
  }

  &__icon {
    background-color: transparent;
    border: transparent;
    height: 20px;
    width: 20px;
  }

  &__icon--close {
    margin: 30px 0 86px;
    place-self: flex-end;
  }

  &__image {
    border: 2px $black;
    display: inline-block;
    height: 48px;
    width: 120px;
  }

  &__overlay {
    background-color: $black;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0 29px 134px 69px;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: transform 1s ease-out;
    width: 100%;
    z-index: 1;
  }

  &__overlay--active {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(0);
  }

  &__overlay-list {
    color: $white;
    font-family: $hkgrotesk-bold;
    font-size: 30px;
    line-height: 64px;
    text-transform: capitalize;
  }

  &__overlay-link {
    color: $white;
    display: inline-block;
    height: 30px;
    margin-right: 40px;

    &--image {
      width: 30px;
    }
  }

  &__overlay-text {
    color: $gray;
    font-family: $hkgrotesk-regular;
    font-size: 18px;
    margin: 72px 0 32px;
  }

  &__overlay-social {
    align-items: flex-start;
    display: flex;
  }

  @include viewport-desktop() {
    &__main {
      padding-left: 8%;
    }

    &__overlay-link {
      display: inline-block;
      height: 100%;
      margin-right: 36px;
      color: $gray;

      &--active,
      &:hover {
        color: black;
      }

      li:last-of-type & {
        margin-right: 0;
      }
    }

    &__overlay-list {
      display: flex;
      font-size: $desktop-card-titles;
      font-family: $hkgrotesk-bold;
    }

    & {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__overlay {
      align-items: flex-end;
      background-color: $white;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 7%;
      padding: 0;
      position: relative;
      transform: none;
    }

    &__overlay-text {
      display: none;
    }

    &__overlay-social {
      display: none;
    }

    &__icon {
      display: none;
    }
  }
}
