.nav {
  position: relative;
  

  &__main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 31px 29px;
  }

  &__icon {
    background-color: transparent;
    border: transparent;
    height: 20px;
    width: 20px;
  }

  &__icon--close{
    margin: 43px 0 86px;
    place-self: flex-end;
  }

  &__image {
    border: 2px black;
    display: inline-block;
    height: 48px;
    width: 120px;
  }

  &__overlay {
    background-color: rgba(0,0,0);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    padding: 0 29px 0 69px;
    position: absolute;
    top: 0;
    transition: transform 1s ease-out;
    transform: translateY(-100%);
    width: 100%; 
  }

  &__overlay--active{
    transform: translateY(0);
  }

  &__overlay-list{
    color: white;
    font-family: $hkgrotesk-bold;
    font-size: 30px;
    line-height: 56px;
    text-transform: capitalize;
  }

  &__overlay-text{
    font-family: $hkgrotesk-regular;
    font-size: 18px;
    color: gray;
    margin: 72px 0 25px;
  }

  &__overlay-social{
    width: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
  }

}