@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/typography';
@import 'abstracts/variables';

// 2. Base stuff
@import 'base/reset';
@import 'base/typography';
@import 'base/grid';

// 3.layout
@import 'layout/navigation';
@import 'layout/footer';

//4 . Components
@import 'components/scroll-indicator';
@import 'components/programs';
@import 'components/intro';
@import 'components/scenarios';
@import 'components/events-carousel';
@import 'components/intro';
@import 'components/contact-form';
@import 'components/ubication';
@import 'components/contact';
@import 'components/image-fundation';
@import 'components/events-highlights';
