@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/typography';
@import 'abstracts/variables';

// 2. Base stuff
@import 'base/reset';
@import 'base/typography';

//3.layout
@import 'layout/footer';
